body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.maze {
  border: 2px solid blue;
  overflow: hidden;
  margin: 0 auto;
  border-collapse: collapse;
  /*width: 25em;*/
}

.maze-row {
  display: flex;
}

.mazetile {
  border: 2px solid blue;
  width: 20px;
  height: 20px;
  background: red;
}
